*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.header{
  height: 85vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url(../public/images/bg.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
.background{
  background: rgba(0, 0, 0, 0.5) url(../public/images/navv.jpg);
  background-size: cover;
  background-blend-mode: darken;
  position: sticky;
  top: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 46px;
}
.navbar img{
  width: 100px;
  border: 1px solid white;
  height: 36px;
}
.nav-list{
  display: flex;
  align-items: center;
  width: 67vw;
}
.nav-list li{
  list-style: none;
  padding: 6px 20px;
}
.nav-list li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-list li::after{
  content: '';
  width: 0%;
  height: 2.2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.2s;
}
.nav-list li:hover::after{
  width: 100%;
}
.rightNav{
  display: flex;
  padding: 0 11px;
}
#search{
  margin-right: 7px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 6px;
  width: 15vw;
  outline: none;
}
.btn-sm{
  padding: 0px 5px;
  color:white;
  border: 2px solid white;
  border-radius: 27px;
  cursor: pointer;
  background: purple;
}
.btn-sm:hover{
  color:rgb(207, 218, 221);
  transition: 0.1S;
  background: red;
}
.main{
  margin: auto;
  color: yellow;
  font-size: 19px;
  padding: 7vh 0vh 0vh 0vh;
  text-align: center;
}
.txt-container{
  width: 80%;
  height: 70vh;
 display: flex;
 justify-content: center;
 align-items: center;
  text-align: center;
}
.txt-box{
  width: 80%;
  color: white;
  padding: 0px 0 0px 100px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.amz{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 40px;
  overflow: hidden;
}
.slider{
  color: yellow;
  box-sizing: border-box;
  animation: slider 10s linear infinite;
  padding-left: 5px;
  font-size: 39px;
}
@keyframes slider{
  0%{margin-top: -200px;}
  5%{margin-top: -92px;}
  30%{margin-top: -92px;}
  35%{margin-top: 0px;}
  65%{margin-top: 0px;}
  70%{margin-top: 93px;}
  100%{margin-top: 93px;}
}
.image2 img{
  width: 77%;
  padding: 14px;
  border: 4px solid white;
  margin-right: 29%;
  cursor: pointer;
}
.sub-box{
  color: yellow;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}
.btn{
  text-decoration: none;
  color:purple;
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  background:linear-gradient(to right, white 50%, yellow 50%);
  background-size: 200%;
  background-position: left;
  text-align: center;
  transition: background-position 0.5s;
}
.btn:hover{
  color:blue;
  border: 2px solid black;
  transition: 0.1S;
  background-position: right;
}
.section{
  padding: 20px 0px 6px 18px;
  width: 98%;
}
.city{
  font-size: 20px;
  text-decoration: underline;
  color:brown;
}
.center{
  text-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.building{
  display: flex;
  justify-content: center;
  height: 30vh;
}
.building img{
  width: 358px;
  margin: 10px;
  border-radius: 13px;
}
.h-primary{
  font-size: 25px;
  color: whitesmoke;
  padding: 2px;
  text-decoration-line: underline;
}
.h-secondary{
  font-size: 23px;
  padding: 2px;
  color: blue;
}
.sponsors{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsors img:hover{
  box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
  border-radius: 8px;
  cursor: pointer;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: white;
  background: black;
  font-size: 13px;

}
/* <-----SERVICES---> */
.sub-header{
  height: 273px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3) url(../public/images/back.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
.txtsub-container{
  padding-top: 20px;
}
#services{
  margin: 34px 34px 34px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 98vw;
  margin-bottom: 13px;
}

#services .box{
  width: 420px;
  padding: 10px;
  margin: 0 15px;
  border-radius: 18px;
  background:#d7cfd352;
  transition: 0.4s;
  cursor: pointer;
}
#services .box:hover{
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}

#services .box img{
  height: 90px;
  margin: auto;
  display: block;
  border-radius: 15px;
}
.serv{
  color:#ff0000d9;
}
.ceopara1{
  font-size: 14px;
  padding: 3px;
}

/* <--ABOUT--> */
.main1{
  color: yellow;
  font-size: 15px;
  text-align: center;
}
.sub-header1{
  height: 272px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3) url(../public/images/bbc2.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
.para1{
  padding: 15px 41px 13px 41px;
  font-size: 18px;
}
.start{
  color: blue;
  font-weight: bold;
}
.thumb img{
  height: 209px;
  display: block;
  margin-inline: auto;
  border-radius: 20px;
  cursor: pointer;
}
.thumb img:hover {
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 50%);
}
.founder{
  margin-bottom: 13px;
}
.gap{
  color: #ff4700;
  font-size: 21px;
  padding-bottom: 7px;
}

.ceo {
  font-size: 17px;
  font-weight: bold;
  color: purple;
}
.ceopara{
  font-size: 14px;
  color: #002bff;
}
/* contact us */
.sub-header2{
  height: 280px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url(../public/images/bbc12.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
.location{
  width: 65%;
  margin: auto;
  padding: 37px 0;
}
.map iframe{
  height: 40vh;
  margin-top: 5px;

}
.contact{
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
  padding: 15px 0 25px;
}
.details img{
  display: flex;
  width: 20px;
  border: 2px solid black;
  padding: 3px;
  cursor: pointer;
}
.cont-col{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-col2 input, .cont-col2 textarea, .center1{
  display: block;
  margin: auto;
  width: 500px;
  /* padding: 2px;  */
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 9px;
  outline: none;
  /* width: 300px; */
  padding: 6px;
  font-size: 16px;
}
.cont{
  margin-bottom: 20px;
}
.row{
  margin: 30px 0 0 3px;
  width: 44%;
}
.cont-col1 div p{
  padding: 0;
}
.mob{
  font-size: 20px;
  color: brown;
  font-weight: 400;
}
.nap{
  color:deeppink;
  font-size: 23px;
  margin-bottom: 15px;
}
.render{
  height: 50vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3) url(../public/images/bbc20.jpg);
  background-size: cover;
  background-blend-mode: darken;
  padding-top: 10px;padding-bottom: 10px;
}
.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 0px;
  top: 19px;
  transform: translate(-10%, -50%);
}
.line1{
  width: 30px;
  background-color: white;
  height: 4px;
  margin: 5px 0px;
  transition: transform 0.5s, width 0.5s;
}
.line2{
  width: 30px;
  background-color: white;
  height: 4px;
  margin: 5px 0px;
  transition: transform 0.5s, width 0.5s;
}
.line3{
  width: 30px;
  background-color: white;
  height: 4px;
  margin: 5px 0px;
  transition: transform 0.5s, width 0.5s;
}
.openburger .line1{
  transform: translate(-36%, 400%) rotate(-45deg);   
}
.openburger .line3{
  transform: translate(-25%, -100%) rotate(45deg);
}
.openburger .line2{
  width: 0%;
}
.burger:hover{
  color: mediumvioletred;
  cursor: pointer;
}
.btm{
  text-decoration: none;
  color: purple;
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;
  font-size: 15px;
}
.btm:hover:hover{
  color:blue;
  transition: 0.1S;
}
.plan{
  display: flex;
  margin: 31px 0 0 12px;
}
.download{
  background: white;
  color: deeppink;
  font-size: 13px;
}
#preloader{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: grid;
  place-items: center;
}
.center_div{
  width: 4rem;
  height: 13rem;
  /* background-color: red; */
  position: relative;
  right: 15px;
}
.rot{
  width: 5rem;
  height: 5rem;
  position: absolute;
  border-right: 0.3rem solid #fff;
  border-radius: 50%;
  animation: rot 2s linear infinite;
}
@keyframes rot {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.load{
  position: absolute;
  top: 18%;
  left: 67%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 12px;
}
#preloader{
  background: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.social{
  height: 41px;
  margin: 8px 7px 10px 7px;
}
.social:hover{
  box-shadow: 0 10px 30px rgb(0 0 0 / 40%), 0px 8px 6px rgb(0 0 0 / 48%);
  border-radius: 100%;
}
#client{
  margin: 4px 0px;
}
.footname {
  text-decoration: none;
  margin: 3px;
  color: darkgoldenrod;
}


/* responsive */
@media only screen and (max-width:1360px){
  .nav-list{
      display: block;
      width: 36vw;
      text-align: center; 
      margin-left: 35px;
  }
  .navbar{
      height: 141px;
      transition: all 0.4s ease-out;
  }
  .rightNav{
      flex-direction: column;
      align-items: center;
  }
  #search{
  font-size: 13px;
  padding: 2px 0px 1px 0px;
  width: 45vw;
  margin-left: 31px;
  }
  .btn-sm{
  border: 2px solid white;
  font-size: 12px;
  }
  .burger{
      display: block;
  }
  .h-nav{
      height: 5vh;
  }
  .v-class{
      content-visibility: hidden;
  }
  .main{
      font-size: 14px;
      padding-top: 5vh;
  }
  .image2 img{
      width: 40vw;
      padding: 7px;
      border: 2px solid white;
  }
  .txt-container {
      display: flex;
      flex-direction: column-reverse;
      height: 80vh;
      width: -webkit-fill-available;
      /* position: absolute;
      bottom: 0; */
  }
  .txt-box{
      width: 97vw;
      padding: 4px 0 0px 8px;
      font-size: 13px;
  }
  .sub-box{
      font-size: 11px;
  }
  .slider{
      font-size: 20px;
  }
  .amz{
      height: 21px;
  }
  @keyframes slider{
      0% {margin-top: -140px;}
      5% {margin-top: -48px;}
      30% {margin-top: -48px;}
      35% {margin-top: 0px;}
      65% {margin-top: 0px;}
      70% {margin-top: 46px;}
      100% {margin-top: 46px;}
  }
  .btn{
      font-size: 12px;
  }
  .section{
      padding:7px 6px 0px 8px;
      width: auto;
  }
  .city{
      font-size: 17px;
  }
  .building{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: auto;
  }
  .building img{
      width: 96vw;
  margin: 6px 0px 8px 0px;
  align-items: center;
  display: block;
  }
  .h-secondary {
      font-size: 18px;
  }
  .sponsors img{
      height: 24px;
  }
  .footer{
      font-size: 9px;
  }
  .sub-header{
      height: 38vh;
      margin-bottom: 20px;
  }
  .txtsub-container {
      height: 47vh;
  }
  .h-primary{
      font-size: 20px;
  }
  #services{
      margin:0px 0 7px 0px;
  }
  #services .box{
      margin-bottom: 10px;
  }
  .sub-header1{
      height: 38vh;
      margin-bottom: 20px;
  }
  .main1 {
      font-size: 13px;
  }
  .mob {
      font-size: 16px;
  }
  .map iframe {
      height: 30vh;
      width: 57vw;
      padding-left: 13px;
  }
  .details img {

      width: 10%;
  }
  .sub-header2{
      height: 38vh;
  }
  .header {
      height: 85vh;
      width: 100vw;
      background: rgba(0, 0, 0, 0.4) url(../public/images/bg13.jpg);
      background-size: cover;
      background-blend-mode: darken;
  }
  .navbar img {
      position: absolute;
      height: 24px;
      top: 4px;
      width: 70px;
  }
  .rightNav{
      padding-left: 14px;
      display: flex;
      margin-right: 13%;
      flex-direction: row;
  }
  .nedia{
      display: flex;
  }
  .background {
      background: rgba(0, 0, 0, 0.5) url(../public/images/navv.jpg);
  }
  .para1 {
      padding: 0px 16px 5px 16px;
      font-size: 15px;
  }
  .nav-list li {
      list-style: none;
      padding: 6px 0 6px 45px;
  }
  .nav-list li a{
      color: purple;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      font-size: 13px;
      background: white;
      display: block;
  }
  .btm{
      font-size: 10px;
      font-weight: bold;
  }
  .park{
  font-size: 14px;
 }
 .cont-col2 input, .cont-col2 textarea, .center1{
  display: block;
  margin: auto;
  width: 300px;
  /* padding: 2px;  */
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 9px;
  outline: none;
  /* width: 300px; */
  padding: 5px;
  font-size: 13px;
  }
  .render{
      height: 48vh;
      padding-bottom: 15px;
  }
  .social {
    /* height: 41px; */
    margin: 2px 7px 7px 7px;
  }
}   